/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background-color: #1b232a;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  display: grid;
}

.item {
  outline: 1px solid red;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  opacity: 1;
  transform: translate(0);
  transition: 0.3s all ease;
  transition-behavior: allow-discrete;
  transition-delay: 0.3s;

  @starting-style {
    opacity: 0;
    transform: translateY(20%);
  }
}

.item:not(.show) {
  display: none;
  opacity: 0;
  transform: translateY(20%);
  transition-delay: 0s;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  width: 100%;
  padding: 60px;
  border: 1px solid #5ed5a8;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 #5ed5a8;
}

@media (max-width: 768px) {
  .popup.loaded {
    max-width: 300px;
  }
}

input {
  padding: 10px;
  border: 1px solid #5ed5a8;
  background-color: #1b232a;
  color: white;
  border-radius: 4px;
}

input:focus-visible {
  outline: 1px solid #5ed5a8;
  border: 1px solid #5ed5a8;
}

button {
  padding: 10px;
  background-color: #5ed5a8;
  color: #1b232a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4ec39f;
}

button:active {
  background-color: #3ea28d;
}

button:focus-visible {
  outline: 1px solid #5ed5a8;
}

a {
  color: #5ed5a8;
  text-decoration: none;
}

a:hover {
  color: #4ec39f;
}

a:active {
  color: #3ea28d;
}

.popup {
  padding: 40px;
  border: 1px solid #5ed5a8;
  border-radius: 4px;
  color: white;
}

@media (max-width: 768px) {
  .popup {
    padding: 20px;
  }
}

.loading {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid #5ed5a8;
  border-bottom-color: transparent;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.popup {
  transition: 1s ease;
  transition-property: width, height;
  width: 110px;
  height: 110px;
  interpolate-size: allow-keywords;
}

.popup.loaded {
  width: 400px;
  height: auto;
}

@media (max-width: 768px) {
  .popup.loaded {
    width: 300px;
  }
}

.popup__wrap {
  display: none;
  width: 320px;
  opacity: 1;
  transition: 2s opacity ease;

  @starting-style {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .popup__wrap {
    width: 280px;
  }
}

.popup__loading {
  transition: 0.3s opacity ease;
  transition-behavior: allow-discrete;

  @starting-style {
    opacity: 0;
  }
}

.popup.loaded .popup__loading {
  transition-duration: 2s;
  display: none;
  opacity: 0;
}

.popup.loaded .popup__wrap {
  display: block;
}
